@import 'scss/_font';

.NavBox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 1;
}
.innerBox {
  height: 100%;
  margin: 0 120px;
  display: flex;
  align-items: center;
}
.left {
  flex: 1;
  .logo {
    width: 214px;
    height: 40px;
  }
}

.profile {
  width: auto;
  height: 48px;
  display: flex;
  align-items: center;
  margin-left: auto;

  p {
    @include font_default;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 0px 0px 0px 8px;
  }

  .profileImg {
    width: 48px;
    height: 48px;
  }
}
