@import 'scss/base.scss';

.NavBox {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  color: #333;
  background-color: #fff;
  z-index: 3;
}

.isStartPage {
  color: $white;
  background-color: $green-black;
}

.innerBox {
  height: 100%;
  margin: 0 120px;
  display: flex;
  align-items: center;

  @include respond-below(sm) {
    margin: 0px 20px;
  }
}
.left {
  flex: 1;
  .logo {
    width: 214px;
    height: auto;

    @include respond-below(sm) {
      width: 150px;
    }
  }
}

.profile {
  width: auto;
  height: 48px;
  display: flex;
  align-items: center;

  .contact {
    @include centerAlign;
    width: 100px;
    height: 36px;
    border-radius: 15px;
    border: 1px solid #111;
    margin-right: 20px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: #111;
    }
    &:hover {
      border: 1px solid $green-light;
      a {
        color: $green-light;
      }
    }
    &.startpageContact {
      border: 1px solid #fff;
      a {
        color: #fff;
      }
      &:hover {
        border: 1px solid $green-dark;
        a {
          color: $green-dark;
        }
      }
    }
    @include respond-below(sm) {
      display: none;
    }
  }
  span {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
  }

  .profileImg {
    width: 2rem;
  }
}
