@import 'scss/_variables';

@mixin pageBox {
  width: 29px;
  height: 32px;
  border-radius: 6px;
  margin-right: 5px;
  &:hover {
    background-color: $gray-light;
    cursor: pointer;
  }
}
.paginationLayout {
  width: 445px;
  height: 46px;
  border-radius: 6px;
  border: solid 1px #d9d9d9;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto 30px 146px;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: bold;

  .moveNumList {
    width: 53px;
    height: 46px;
    border-radius: 6px;
    @include centerAlign;
    div {
      @include pageBox;
      @include centerAlign;
    }
  }

  .numList {
    width: 339px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pageNum {
    @include centerAlign;
    @include pageBox;
    font-weight: 500;
    &.currentPage {
      background-color: $green-light;

      animation-name: changeColor;
      animation-duration: 0.8s;
      animation-timing-function: ease-out;
    }
    @keyframes changeColor {
      0% {
        background-color: $gray-light;
      }
      100% {
        background-color: $green-light;
      }
    }
  }
  .pageDots {
    @include centerAlign;
    width: 29px;
    height: 32px;
    border-radius: 6px;
    margin-right: 5px;
  }
}
