@import 'scss/base.scss';

.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid $gray-light;
  cursor: pointer;
}

.githubIcon {
  width: 26px;
  height: 26px;
}

.info {
  flex: 1;
  margin-left: 10px;
  .ownername {
    color: $gray-light;
  }

  .reponame {
    color: $black-light;
  }
}

.action {
  .arrowIcon {
    width: 8px;
  }
}
