.SideBarBox {
    margin-top: 116px;
    float: left;

    img {
        margin-left: 48px;
        width: 160px;
        height: 160px;
        border-radius: 80px;
    }

    p {
        margin-left: 48px;
    }

    .name {
        font-size: 21px;
        color: #333333;
    }

    .description {
        font-size: 16px;
        color: #747C84;
    }
}