@import 'scss/base.scss';

.container {
  width: 100%;
  max-width: 1120px;
  height: calc(100vh - 100px);
  margin: auto;
  padding: 40px 20px;
  background-color: $white;
  overflow-y: auto;

  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
}

.inner {
  width: 100%;
  max-width: 740px;
  margin: auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: $black-light;

  padding: 100px 0;

  @include respond-below(sm) {
    padding: 20px 0;
  }
}
