@import 'scss/base.scss';

.container {
  width: 100%;
}

.repoListHeader {
  display: flex;
  justify-content: space-between;

  .profile {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: $gray-lighter;
    border-radius: $card-border-radius;
    .img {
      width: 26px;
      height: 26px;
    }
    .name {
      margin-left: 10px;
      font-weight: bold;
    }
  }

  .search {
    display: flex;
    align-items: center;
    width: 218px;
    padding: 10px;
    border-radius: $card-border-radius;
    border: 1px solid $gray-light;
    .icon {
      color: $gray-light;
    }
    .input {
      font: inherit;
      border: none;
      outline: none;
      background-color: inherit;
      margin-left: 10px;
    }
  }
}

.repoListBody {
  margin-top: 10px;
  max-height: 244px;
  overflow-y: auto;
}

.repoListFooter {
  margin-top: 10px;
  .repoAddLink {
    margin-left: 10px;
    color: $black-light;
    font-weight: bold;
  }
}
